<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perfil</h1>

    {{#each perfil}}
        {{#if admin}}
            <p>Você é admin</p>
        {{else}}
            <p>Você é pessoa</p>
        {{/if}}
        {{#unless admin}}
            <p>Você não tem acesso</p>
        {{/unless}}
    {{/each}}
</body>
</html>